.GomeProject_nav_title select {
    width: 80px;
    height: 30px;
    padding: 3px 10px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.calendar {
	margin-left:14px;
    /*! width: 1556px; */
    border: 1px solid #e8e8e8;
    background: #fff;
    float:left;
	width: 87%;
}

.calendar table thead tr {
    border-top: 0;
    height:65px;
}

.calendar table thead th {
	padding-top:10px;
}

.calendar table tbody tr {
    height:74px;
}

.calendar table tr:last-child {
    border-bottom: 0;
}

.calendar table {
    margin: 0;
    border-collapse: collapse;
    width:100%;
}

.calendar table tr {
    border: 1px solid #e8e8e8;
    border-right: none;
    border-left: none;
    font-size:14px;
    color:#44444E;
}

.calendar table td {
    text-align: center;
    color: #666;
    cursor: pointer;
    width:14.28%!important;
    border:0;
}

.calendar table .today_selected a {
    /* border: 2px solid purple; */
    background: url(../../images/selected.png) no-repeat;
    background-position: 95% 0px;
}
.calendar table .click_selected a{
    /* border: 2px solid green; */
    background: url(../../images/selected.png) no-repeat;
    background-position: 95% 0px;
}
/* 
.calendar table .selected {
    background: url(../../images/calender_bg.png) no-repeat;
    background-position: 40px -1px;
} */

.calendar table th {
    text-align: center;
}

.calendar a {
    text-decoration: none;
    color: #666;
}

.calendar td a {
    height: 20px;
    display: block;
    width: 125px;
    background-color: white;
    position: relative;
    top: -20px;
}

.calendar .disable {
    color: #ccc;
    font-weight: bold;
}

.calendar .calendar_content {
    color: #96A0F0;
    font-weight: bold;
}

.today {
    background-color: #C1D9FF;
    color: red;
}

.recentEvent {
    height: 140px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.recentEvent-Date {
    float: left;
    padding: 10px 10px;
}

.recentEvent-Day {
    font-size: 66px;
    color: #333;
}

.recentEvent-Month {
    font-size: 22px;
    color: #bfbfbf;
    margin-left: 10px;
}

.recentEvent-content {
    width: 60%;
    float: left;
}

.recentEvent-content p {
    margin-top: 50px;
    color: #656565;
}

.recentEvent-content a:hover {
    text-decoration: underline;
}

.calendar-title {
    border-radius: 5px;
    margin: 14px 15px;
    width: 80px;
    display: table;
    font-size: 15px;
    border: 1px solid #e6e6e6;
}

.calendar-title-date {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.nextMonth {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #e6e6e6;
}

.lastMonth {
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #e6e6e6;
}

.bubble {
    border: 1px solid #d0cfd2;
    border-radius: 10px;
    height: auto;
    width: 120px;
    position: relative;
    top: 0px;
    font-size: 10px;
    background: #54B74A;
    color: #fff;
}

.bubble:after {
    content: '';
    position: absolute;
    border: 1px solid rgba(51, 51, 51, 0.19);
}

.bubble:before {
    content: '';
    position: absolute;
}

.bubble.top:after {
    border-color: #5aBA4A transparent;
    border-width: 0 5px 4px 5px;
    top: -4px;
    left: 47%;
}

.bubble.top:before {
    border-color: #999 transparent;
    border-width: 0 13px 11px 13px;
    top: -13px;
    left: 45%;
}

.right_info {
    float: left;
    border: 1px solid #e8e8e8;
    border-left: none;
    height: 511px;
    background: #fff;
    width: 11.5%;
    overflow: auto;
}

.right_info h3 {
    line-height: 55px;
    font-size: 16px;
    font-weight: bold;
}

.right_info dl dd {
    line-height: 25px;
    padding-left: 20px;
    background: url(../images/round_bg.png) no-repeat;
    background-position: 5px 10px;
}

.right_info dl dt a {
    float: right;
    color: #69B1E4;
}

.infogroup {
    margin: 15px 20px;
}

.first_group {
    margin-top: 40px;
}

.infogroup div {
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.infogroup p {
    line-height: 20px;
}

.infogroup p a {
    /*color: #000000;
    padding-right: 5px;*/
}