#parse("common/header.vm")
	
      <div class='wrapper'>
        <div class="GomeProjectContent">
            <div class="GomeProject_sidebar_tab">
                <div class="GomeProject_tab_title">
                    <span class="big_tab"><a href="${contextPath}/datas/toProTJ">总数据统计</a></span>
                    <span class="big_tab"><a href="${contextPath}/datas/toOnlineTJ">上线分布统计</a></span>
                    <span class="big_tab"><a href="${contextPath}/datas/toUnitTJ">各部门数据表现</a></span>
                    <span class="small_tab"><a href="${contextPath}/tj/status">状态分布</a></span>
                    <span class="small_tab"><a href="javascript:void(0)">工时统计</a></span>
                    <span class=" big_tab"><a href="${contextPath}/datas/todataList">提报需求统计</a></span>
                </div>
                <div class="GomeProject_tab-content">
                  	<div class='GomeProject_nav_title'>
<div class="breadCrumbHolder module">
						    <div class="breadCrumb module">
						        <ul  id="findReadOnlyCrumbUl">
						        </ul>
						    </div>
						</div>
                     	<div class="clear"></div>
                    </div>
                    <!-- searchBar -->
                    <!-- searchbar end-->
                    <div class='project_info_table view_project_list' style="margin-top:12px">
                        <table>
                            <thead>
                                <tr>
                                    <td>项目ID</td>
                                    <td>项目名称</td>
                                    <td>任务状态</td>
                                    <td>优先级</td>
                                    <td>状态进度</td>
                                    <td>实施阶段</td>
                                    <td>完成度</td>
                                    <td>上线日期</td>
                                    <td>项目经理</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!--  tableend  -->
                    <div id='GomeProjectPage' class='GomeProjectPage'></div>
                    <script id='view_task' type='text/html'>
                        <tr>
                            <td>$proId$</td>
                            <td><a href="${contextPath}/project/detail/$proId$" onclick="findReadOnlyBuildCrumb(this);">$title$</a></td>
                            <td>$statusName$</td>
                            <td>$priorityName$</td>
                            <td>$scheduleName$</td>
                            <td>$actualizeName$</td>
                            <td>$percentage$</td>
                            <td>$planTime$</td>
                            <td>$bpName$</td>
                        
                    </script>
                </div>
            </div>
        </div>
    </div>
    
#parse("common/footer.vm")
<script src='${contextPath}/static/js/echarts.js'></script>
<script src='${contextPath}/static/js/view_task.js'></script>
<script src='${contextPath}/static/js/common.js'></script>