<style >
.smoke-base .dialog {
	margin-left:-320px;
	margin-top:-200px;
}

.pop_del_box{
	width:650px;
    line-height:30px;
    height:auto;
	padding-top:20px;
	padding-bottom:20px;
	max-height:200px;
	overflow-y:auto;
}

.gmTips_warp {
	width:650px;
}

.explainImgLabel{
	float:left;
	display:inline-block;
	margin-top:19px;
	vertical-align:bottom;
	cursor:pointer;
}

.explainTitle{
	margin-left:-500px;
	font-weight:bold;
	display:block;
}

.explainImgTotal{
	margin-top:3px;
	margin-left:5px;
}
</style>

<script>
var infos = {
	tip:
	[
	  	{"key":"proMonitor","title":"项目监控说明","msg":"全部任务：过去最近一年内创建的项目/敏捷需求的全部统计；<br/>近期上线：即未来一个月内计划上线的项目或敏捷需求；<br/>即将上线：即未来一周内计划上线的项目或敏捷需求；<br/>风险任务：即当前状态为延期风险的全部项目或敏捷需求；<br/>已延期任务：即到达计划上线日期，状态进度还未变更为“已上线”的项目及敏捷需求；<br/>新增任务：即过去最近一个月内新建的项目/敏捷需求；<br/>点击具体数据，下方显示对应的项目/敏捷列表；"},
	  	{"key":"upeMonitor","title":"更新监控说明","msg":"未更新：任务状态为“打开的”已提交的、到达项目开始时间的、状态进度非“暂停”的项目中，选定时段内未做编辑的项目数+敏捷数；<br/>已更新：选定时段内进行过编辑或新增的项目数+敏捷数；<br/>更新占比：公式为：已更新/（未更新+已更新）；<br/>暂停项目：选定时段内，最终状态进度为“暂停”且变更“暂停”时间在当前时段内的项目数；<br/>关闭项目：选定时段内，最终任务状态为“已关闭”且变更“已关闭”时间在当前时段内的项目数；<br/>更新排名：即按照更新占比进行排名；"},
	  	{"key":"proAnnualTotal","title":"项目年度统计表说明","msg":"默认显示当年的项目统计；<br/>按项目“进度状态”字段进行统计；<br/>只保存未提交的项目不参与统计；<br/>只统计当前年度创建的项目；<br/>年度项目总计：项目总数；<br/>进行中：状态进度“未启动”“已上线”“已取消”“暂停”“暂缓”“待排期”以外的项目数量；<br/>已上线项目：状态进度为“已上线”的项目数量；<br/>风险项目：状态进度为“延期风险”的项目数量；<br/>延期项目：状态进度为“已延期”的项目数量；<br/>暂停项目：“暂停”的项目数量；<br/>未启动项目：“未启动”的项目数量；"},
        {"key":"proStateTotal","title":"项目状态分布说明","msg":"<span class='explainTitle'>本周项目进度：</span>固定统计上周的统计数据；<br/>按项目“进度状态”字段进行统计；<br/>只保存未提交的项目不参与统计；<br/>本周已上线： “已上线”状态变更时间落在本周内的项目数量；<br/>本周进行中：本周截止到当前的“未启动”“已上线”“已取消”“暂停”“暂缓”“待排期”以外的项目数量；<br/>本周新增：本周截止到当前的新增的项目，不包含未提交的；<br/>本周风险项目：本周截止到当前时间的状态为 “延期风险”的项目数量；<br/>本周暂停项目： “暂停“状态变更时间落在本周内的项目数量；<br/>下周计划上线：下周自然周中计划上线的项目数量；从下周一到下周日；<br/><span class='explainTitle'>项目状态分布：</span>统计本周项目状态分布；<br/>按项目“进度状态”字段进行统计；<br/>只保存未提交的项目不参与统计；<br/>未启动、正常、提前、延期风险、已延期、待上线、已取消、内部上线、暂停、暂缓、待排期、部分上线；"},
        {"key":"orgDatasTotal","title":"部门数据统计说明","msg":"统计当前选定时间段内的各部门的项目统计；时间段默认显示最近一周；<br/>只显示选定时间内有数据的部门；<br/>进行中：当前时间段 “未启动”“已上线”“已取消”“暂停”“暂缓”“待排期”以外的项目数量；<br/>已上线： “已上线”状态变更时间落在当前选定时段内的项目；<br/>风险/延期：当前时间段状态为“延期风险”或“已延期”的项目；"},
        {"key":"onLineTotal","title":"上线分布统计说明","msg":"只统计对应月份达成上线的项目数量；<br/>默认显示本年度项目“已上线”变更时间落在各月份的数量分布；<br/>查询后，显示各查询条件下项目“已上线”变更时间落在选定年度各月份的数量分布；<br/>点击数字项，新打开页面显示对应统计的项目数据列表；"},
        {"key":"orgsExpression","title":"各部门数据表现说明","msg":"只统计对应月份达成上线的项目数量；<br/>默认显示本年度项目“已上线”变更时间落在各月份的数量分布；<br/>查询后，显示各查询条件下项目“已上线”变更时间落在选定年度各月份的数量分布；<br/>点击数字项，新打开页面显示对应统计的项目数据列表；"},
	],
	system_busy:["系统繁忙，请稍后再试。"]
}

function getExplainInfo(key){
	var explain ={};
	$.each(infos.tip,function(i,val){
		if(val.key.indexOf(key)!=-1){
			explain.title = val.title;
			explain.msg = val.msg;
		}
    });
	return explain;
}
</script>